/* Customize presentation of code snippets. */
code {
  border: 1px solid #ddd;
  border-radius: 4px;
}

pre code {
  border: none;
}

/* Tweak rendering of headers. */
.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  margin: 1rem 0; /* CAWG: Was 1rem 0 0 */
}

.doc h5 {
  font-size: 95%; /* CAWG: Override browser default style sheet */
}

.doc h6 {
  font-size: 90%; /* CAWG: Override browser default style sheet */
  font-weight: bold;
  color: #555;
}

.doc h2 { /* CAWG: Was .doc h2:not(.discrete) */
  border-bottom: 1px solid var(--section-divider-color);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.4rem 1rem 0.1rem;
}

.doc h3:not(.discrete),
.doc h4:not(.discrete),
.doc h5:not(.discrete) { /* CAWG: Added h5 to this list */
  font-weight: var(--alt-heading-font-weight);
}

/* Customize presentation of examples. */
.doc .exampleblock > .content,
.doc details.result > .content {
  padding: 1rem 1rem 0.75rem;
  background: var(--sidebar-background);
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  word-wrap: anywhere;
}
