# Use this playbook when building locally.

site:
  title: Creator Assertions Working Group
  # url: https://cawg.io (disabled because this is for local publishing)
  start_page: ROOT::index.adoc

content:
  sources: 
  - url: .
    branches: HEAD
    start_path: docs
    edit_url: ~ 

  - url: https://github.com/decentralized-identity/cawg-identity-assertion.git
    branches:
    - HEAD
    tags:
    - v1.0
    - v1.1-final
    - "1.2"
    start_path: docs

  - url: https://github.com/decentralized-identity/cawg-endorsement-assertion.git
    branches:
    - HEAD
    start_path: docs

  - url: https://github.com/decentralized-identity/cawg-metadata-assertion.git
    branches:
    - HEAD
    tags:
    - v1.0
    - v1.1-final
    start_path: docs

  - url: https://github.com/decentralized-identity/cawg-training-and-data-mining-assertion.git
    branches: [] # - HEAD (when there's a draft again)
    tags:
    - v1.0
    - v1.1-final
    start_path: docs

  - url: https://github.com/decentralized-identity/cawg-organizational-identity-profile.git
    branches:
    - HEAD
    start_path: docs

  - url: https://github.com/decentralized-identity/cawg-ux-guidance.git
    branches:
    - HEAD
    start_path: docs

ui:
  bundle:
    url: https://cawg.io/antora-ui/ui-bundle.zip
    snapshot: true
  supplemental_files: ./custom-ui/

antora:
  extensions:
    - require: '@sntke/antora-mermaid-extension'
      mermaid_initialize_options:
        theme_variables:
          font_family: Roboto,sans-serif
